/* 1456px */
@media (max-width: 91em) {
  #about {
    padding: 8rem 1rem;
  }
  .about-row {
    width: 120rem;
  }
  .project-container {
    width: 120rem;
  }
  .contact-row {
    width: 110rem;
  }
}

/* 1248px */
@media (max-width: 78em) {
  .about-row {
    width: 110rem;
  }
  .about-col-1 {
    padding: 0 4rem;
  }
  .project-container {
    width: 105rem;
  }
  .box {
    gap: 5rem;
  }
  .contact-row {
    width: 95rem;
  }
}

/* 1152px */
@media (max-width: 72em) {
  .about-row {
    width: 90rem;
    flex-direction: column;
  }
  .about-col-1 {
    border-right: none;
    border-bottom: 1px solid var(--main-color);
    padding: 0 4rem 3rem;
  }
  .about-col-1 h4 {
    text-align: center;
    margin-bottom: 0.5rem;
    margin-top: 0;
  }
  .about-col-2 {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }
  .about-col-2-content {
    gap: 1rem;
  }
  /* SKILL */

  .skill-container {
    flex-direction: column;
    align-items: center;
    width: auto;
    gap: 5rem;
    height: auto;
  }
  .timeline {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* display: flex;
    flex-direction: row;  */
    gap: 2rem;
    flex-wrap: wrap;
    width: 60rem;
    justify-content: center;
    text-align: center;
  }

  .timeline-item {
    font-size: 1.6rem;
    font-weight: 500;
    position: relative;
    cursor: pointer;
    margin-bottom: 0px; /* Remove margin */
    padding-bottom: 1rem;
  }

  .timeline-item::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%); /* Center vertically and horizontally */
    width: 12px;
    height: 12px;
    background-color: var(--primary-text);
    border-radius: 50%;
  }

  .timeline-item::after {
    display: none;
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    width: calc(100% - 30px);
    height: 2px;
    background-color: var(--primary-text);
  }

  .timeline-item:last-child::after {
    display: none; /* Hide line after last item */
  }

  .timeline-item.active::before {
    background-color: var(--main-color);
    top: 1.4rem;
  }
  .timeline-item.left::before {
    top: 1.2rem;
    left: 1rem;
  }
  .timeline-item.opposite-side::before {
    left: 1rem;
    top: 1.2rem;
  }
  .timeline-item.active {
    color: var(--main-color);
  }

  .timeline-item.opposite-side {
    margin-left: 0px; /* Adjust spacing between items */
  }
  /* EXPERIENCE */

  .experience-container {
    flex-direction: column;
    height: auto;
    width: auto;
  }
  .experience-box {
    flex-direction: row;
    height: 25rem;
    border-right: none;
    border-bottom: 1px solid var(--primary-text);
  }
  #experience .active {
    background: var(--queryGradient-color);
  }
  .about-internship,
  .education-details {
    margin-top: 2rem;
    padding-left: 3rem;
  }
  .internship-heading {
    border-right: 1px solid var(--primary-text);
  }

  /* PROJECT */
  .project-container {
    width: auto;
  }
  .box {
    flex-direction: column-reverse;
    align-items: center;
    gap: 3rem;
  }
  .detail-section {
    width: 80rem;
    align-items: center;
    text-align: center;

    & p {
      padding: 0 4rem;
    }
    & .svg-container {
      justify-content: center;
    }
  }
  .img-section img {
    width: 70rem;
  }
  /* FOOTER */
  .contact-row {
    flex-direction: column;
    width: 80rem;
    gap: 5rem;
  }

  .btn-5 {
    margin-top: 2rem;
  }
  .contact-bottom {
    left: 18%;
  }
}

/* 944px */
@media (max-width: 59em) {
  /* ABOUT */
  .about-row {
    width: 70rem;
  }
  .about-col-1 {
    margin: 0 auto;
    padding: 0 3rem 3rem;
  }
  .about-col-2 {
    grid-template-columns: 1fr 1fr;
    column-gap: 10rem;
  }

  /* SKILL*/

  .content {
    width: 65rem;

    & p {
      height: 20rem;
      overflow: scroll;
    }
  }

  /* EXPERIENCE */

  .experience-box {
    flex-direction: column;
    width: 60rem;
    height: 50rem;
    border-bottom: none;
  }
  .internship-heading {
    border-right: none;
  }
  .about-internship,
  .education-details {
    width: 65rem;
    & ul {
      width: auto;
      padding-left: 0;
    }
  }

  /* PROJECT */
  .img-section img {
    width: 65rem;
  }
  .detail-section {
    width: 65rem;

    & p {
      padding: 0;
    }
  }
  /* CONTACT */
  .contact-row {
    width: 65rem;
  }
}

/* 752px */
@media (max-width: 47em) {
  .header-text {
    margin-top: 5rem;
  }
  .header-text h2 {
    font-size: 2.2rem;
  }
  .about-row {
    width: 55rem;
  }
  .about-col-1 {
    padding: 0 0 3rem;
  }
  .about-col-2 {
    padding: 0;
    column-gap: 4rem;
  }
  .about-col-2-content {
    gap: 0.5rem;
  }
  .timeline {
    width: 50rem;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  .timeline-item.opposite-side::before {
    left: 3rem;
  }
  .timeline-item.left::before {
    left: 3rem;
  }
  .content {
    width: 50rem;
  }
  .experience-box {
    width: 50rem;
  }
  .about-internship,
  .education-details {
    width: 55rem;
  }
  .detail-section {
    width: 50rem;
  }
  .img-section img {
    width: 50rem;
    height: 25rem;
  }
  .contact-row {
    width: 50rem;
  }
}

/* 608px */
@media (max-width: 38em) {
  .about-row {
    width: 45rem;
  }
  .about-col-2 {
    gap: 1.5rem;
  }
  .about-col-2-content {
    flex-direction: row;
    align-items: flex-start;
  }
  .about-col-2-content:nth-child(3) {
    grid-area: 3 / span 2;
  }
  .content {
    width: 45rem;
  }
  .experience-box {
    width: 45rem;
  }
  .about-internship,
  .education-details {
    width: 45rem;
  }
  .detail-section {
    width: 45rem;
  }
  .img-section img {
    width: 45rem;
  }
  .contact-row {
    width: 45rem;
  }
}

/* 512px */
@media (max-width: 32em) {
  .about-row {
    width: 40rem;
  }
  .about-col-1 {
    padding: 0 3rem 3rem;
  }
  .about-col-1 p {
    height: 40rem;
    overflow: scroll;
    margin-top: 2rem;
  }
  .about-col-2-content {
    flex-direction: column;
  }
  .timeline {
    grid-template-columns: repeat(2, 1fr);
    width: 30rem;
  }

  .content {
    width: 35rem;
    padding: 2rem 3rem;
  }
  .experience-box {
    width: 40rem;
  }
  .about-internship,
  .education-details {
    width: 40rem;
    padding-left: 2rem;
  }
  .detail-section {
    width: 42rem;

    & .buttons {
      flex-direction: column;
      gap: 0;
      align-items: center;
    }
  }
  .img-section img {
    width: 40rem;
  }
  .contact-row {
    width: 40rem;
  }
}

/* 432px */
@media (max-width: 27em) {
  .about-row {
    width: 35rem;
  }
  .about-col-1 {
    padding: 0 2rem 3rem;
  }
  .about-col-1 p {
    font-size: 1.8rem;
  }
  .about-col-2 {
    margin-left: 2rem;
    gap: 3rem;
  }
  .about-col-2-content {
    gap: 0;
  }
  .content {
    width: 30rem;
  }
  .experience-box {
    width: 30rem;
  }
  .about-internship,
  .education-details {
    width: 34rem;
    padding-left: 2rem;
  }
  .detail-section {
    width: 28rem;
  }
  .img-section img {
    width: 30rem;
    height: 20rem;
  }
  .contact-row {
    width: 33rem;
  }
}
