@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-color: var(--primary-background);
  color: var(--primary-text);
  overflow-x: hidden;
}
:root {
  /** BACKGROUND */
  --primary-background: #111111;
  --secondary-background: #1a1a1a;

  /** TEXT */
  --primary-text: #f0f0f0;

  /** PARAGRAPH */
  --primary-paragraph: #dfdede;

  /** MAIN COLOR*/
  --main-color: #009bd9;

  /** GRADIENT */
  --mainGradient-color: linear-gradient(180deg, #2c69d1, #0abcf9);
  --secondaryGradient-color: linear-gradient(
    90deg,
    rgb(0, 155, 217, 0) 0%,
    rgb(0, 155, 217, 0.38) 89.06%,
    rgb(0, 155, 217, 0.51) 100%
  );
  --queryGradient-color: linear-gradient(
    180deg,
    rgb(0, 155, 217, 0) 0%,
    rgb(0, 155, 217, 0.38) 89.06%,
    rgb(0, 155, 217, 0.51) 100%
  );

  /* --secondary-background: #171717; */
}

/** ------------------------- NAVIGATION-START ------------------------- */

.logo-name {
  background: var(--mainGradient-color);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.3rem 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
}
.main-nav::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(50px);
  z-index: -1;
}
.main-nav::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(225, 225, 225, 0.4),
    transparent
  );
  transition: 0.5s;
}
.main-nav:hover::after {
  left: 100%;
}

.main-nav h1 {
  font-size: 4.4rem;
}
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}
#check {
  display: none;
}
.icons {
  position: absolute;
  right: 5%;
  font-size: 2.8rem;
  cursor: pointer;
  display: none;
  background: var(--mainGradient-color);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  list-style: none;
  margin: 1rem 2rem;
  font-size: 2rem;
  font-weight: 500;
  text-decoration: none;
  color: var(--primary-text);
  position: relative;
  transition: 0.5s ease;

  &:hover {
    color: var(--main-color);
  }
}

.main-nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background: var(--mainGradient-color);
  bottom: -0.2rem;
  left: 50%;
  border-radius: 50px;
}

.main-nav-link:hover::after {
  animation: line 4s infinite;
}
#profile-section {
  margin: 0 auto;
  max-width: 150rem;
}
.header-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 18.5rem 15rem;
}
.header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 3rem;
  margin-top: 4rem;
}
.tagline {
  font-size: 2.4rem;
}
.header-text h2 {
  font-size: 4rem;
  font-weight: 600;
  line-height: 2.6;
}
.tubelight {
  font-size: 7.4rem;
  font-weight: 700;
  position: relative;
  color: #0e3742;
  /* text-transform: uppercase; */
  width: 100%;
  text-align: center;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
  line-height: 0.7em;
  outline: none;
  animation: tubelight 5s linear infinite;
}

.blink {
  background: var(--mainGradient-color);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: blink 1s infinite;
}

.starOption {
  position: absolute;
  display: flex;
  align-items: center;
  text-align: center;
  width: 3.5rem;
  font-size: 1.2rem;
  color: var(--primary-text);
  background: var(--mainGradient-color);
  text-decoration: none;
  right: 0;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  cursor: pointer;
  transition: 0.7s;

  & i {
    padding: 1.2rem 1rem 1.1rem 1.3rem;
    color: gold;
  }

  & span {
    padding: 0.5rem 1.5rem 0.5rem 0rem;
  }
  &:hover {
    width: 8rem;
  }
}
.animation-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 15rem;
}
.question {
  font-size: 3rem;
}
.container {
  position: relative;
  height: 4rem;
  display: flex;
  justify-content: center;
}
.cloud {
  position: relative;
  top: -5rem;
  width: 35rem;
  /* width: 32rem; */
  height: 10rem;
  background: #fff;
  border-radius: 200px;
  filter: drop-shadow(0 0 35px #fff);
  z-index: 1;
}
.cloud::before {
  content: "";
  position: absolute;
  top: -5rem;
  left: 4rem;
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
  background: #fff;
  box-shadow: 90px 0 0 30px #fff;
}
.cloud::after {
  content: "";
  position: absolute;
  top: -4rem;
  right: 12rem;
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
  background: #fff;
  box-shadow: 90px 0 0 5px #fff;
}
.text {
  position: absolute;
  top: 4rem;
  line-height: 2rem;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 15px #fff, 0 0 30px #fff;
  transform-origin: bottom;
  animation: textFalling 10s linear infinite;
}

/** ------------------------- NAVIGATION-END ------------------------- */
/* REUSEABEL */
.h-one {
  position: relative;
  font-size: 5.2rem;
  text-align: center;
  letter-spacing: 0.4rem;
  background: var(--mainGradient-color);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.glow-btn button {
  position: relative;
  padding: 1.6rem 3rem;
  border: 2px solid var(--main-color);
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
  color: var(--main-color);
  transition: 0.5s;
  transition-delay: 0s;
  border-radius: 15px;
  cursor: pointer;
}
.glow-btn button:hover {
  transition-delay: 1.5s;
  color: #000;
  color: #fff;
  box-shadow: 0 0 10px var(--main-color), 0 0 20px var(--main-color);
}

.glow-btn button span {
  position: relative;
  z-index: 1;
}
.glow-btn button:nth-child(2) {
  filter: hue-rotate(80deg);
}
.glow-btn button::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 2px;
  background: var(--main-color);
  box-shadow: 5px -8px 0 var(--main-color), 5px 8px 0 var(--main-color);
  transition: width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;
  transition-delay: 1s, 0.5s, 0s, 0s;
  border-radius: 15px;
}
.glow-btn button:hover::before {
  width: 60%;
  height: 105%;
  left: -2px;
  box-shadow: 5px 0 0 var(--main-color), 5px 0 0 var(--main-color);
  transition-delay: 0s, 0.5s, 1s, 1s;
}
.glow-btn button::after {
  content: "";
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 2px;
  background: var(--main-color);
  box-shadow: -5px -8px 0 var(--main-color), -5px 8px 0 var(--main-color);
  transition: width 0.5s, right 0.5s, height 0.5s, box-shadow 0.5s;
  transition-delay: 1s, 0.5s, 0s, 0s;
  border-radius: 15px;
}
.glow-btn button:hover::after {
  width: 60%;
  height: 105%;
  right: -2px;
  box-shadow: -5px 0 0 var(--main-color), -5px 0 0 var(--main-color);
  transition-delay: 0s, 0.5s, 1s, 1s;
}
.highlight {
  color: var(--main-color);
}
/* .btn {
  text-align: center;
  color: var(--main-color);
  background: none;
  padding: 1.6rem 3.2rem;
  border: 2px solid var(--main-color);
  border-radius: 15px;
  font-weight: 700;
  font-size: 2rem;
  cursor: pointer;
  letter-spacing: 0.1rem;
  transition: transform 0.1s linear;

  &:active {
    transform: scale(0.85);
  }

  &:hover {
    color: var(--primary-text);
    background: var(--mainGradient-color);
  }
} */

/** ------------------------- ABOUT-START ------------------------- */

#about {
  padding: 8rem;
  background-color: var(--secondary-background);
}

.heading-bottom {
  position: absolute;
  width: 12rem;
  height: 0.5rem;
  bottom: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  background: var(--mainGradient-color);
  border-radius: 15px;
}
.about-row {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  max-width: 130rem;
  padding-top: 4rem;
}
.about-col-1 {
  border-right: 1px solid var(--main-color);
  padding: 0 8rem;

  & h4 {
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
  }

  & p {
    margin-top: 1rem;
    font-size: 1.8rem;
    color: var(--primary-paragraph);
  }
}

.shake-hand {
  display: inline-block;
  animation: shake 0.5s ease 5 1s;
}

.about-col-2 {
  display: grid;
  grid-template-columns: 1fr;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 4rem;
}
.about-col-2-content {
  display: flex;
  gap: 2rem;
  align-items: center;

  & h4 {
    font-size: 1.8rem;
    background: var(--mainGradient-color);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  & p {
    font-size: 1.8rem;
    color: var(--primary-paragraph);
  }
}

.btn-1 {
  margin-top: 4rem;
  animation: shake 1s infinite;
}
.shake-slow {
  animation-delay: 4s;
}

/** ------------------------- ABOUT-END ------------------------- */

/** ------------------------- SKILL-START ------------------------- */

#skills {
  padding: 4rem 0 10rem 0;
}

.skills-bottom {
  position: absolute;
  width: 9rem;
  height: 0.5rem;
  bottom: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  background: var(--mainGradient-color);
  border-radius: 15px;
}

.skill-container {
  margin: 0 auto;
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  max-width: 100rem;
  height: 60rem;
  padding-top: 4rem;
}

.timeline {
  width: 20rem;
}

.timeline-item {
  font-size: 1.6rem;
  font-weight: 500;
  position: relative;
  padding: 0 0 30px 0;
  margin-bottom: 20px;
  cursor: pointer;
}

.timeline-item::before {
  content: "";
  position: absolute;
  left: -6px;
  top: 0;
  width: 12px;
  height: 12px;
  background-color: var(--primary-text);
  border-radius: 50%;
}

.timeline-item::after {
  content: "";
  position: absolute;
  left: -1px;
  top: 22px;
  bottom: 0;
  width: 2px;
  background-color: var(--primary-text);
  padding: 20px 0;
}

.timeline-item:last-child::after {
  display: none;
}

.timeline-item.active::before {
  background-color: var(--main-color);
}

.timeline-item.active {
  color: var(--main-color);
}

.timeline-item.left {
  position: relative;
}

.timeline-item.left::before {
  top: 0.5rem;
  left: 8rem;
  /* Adjust this value to position the dot */
}

.timeline-item.left::after {
  top: 2.8rem;
  left: 8.5rem;
  background: var(--mainGradient-color);
  /* Adjust this value to position the line */
}

.timeline-item.opposite-side {
  /* text-align: right; */
  margin-left: 11rem;
}

.timeline-item.opposite-side::before {
  top: 0.5rem;
  left: -3rem;
  /* Adjust this value to position the dot */
}

.timeline-item.opposite-side::after {
  top: 2.8rem;
  left: -2.5rem;
  background: var(--mainGradient-color);
  /* Adjust this value to position the line */
}
.content {
  width: 75rem;
  padding: 5rem 6rem;
  border-radius: 15px;
  box-shadow: 3px 3px 29px 0px var(--main-color);

  & h2 {
    font-size: 3rem;
  }

  & p {
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    margin-top: 1rem;
    color: var(--primary-paragraph);
    line-height: 1.4;
  }
}
.svg-center {
  display: flex;
  justify-content: center;
}
.svg {
  margin-top: 4rem;
  font-size: 12rem;
  opacity: 0.3;
}

/** ------------------------- SKILL-END ------------------------- */

/** ------------------------- EXPERIENCE-START ------------------------- */
#experience {
  padding: 8rem 0;
  background-color: var(--primary-background);
}
#experience .active {
  background: var(--secondaryGradient-color);
}
.slash {
  background: var(--mainGradient-color);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.experience-bottom-one {
  position: absolute;
  width: 15rem;
  height: 0.5rem;
  bottom: 0;
  left: 30%;
  transform: translateX(50%);
  background: var(--mainGradient-color);
  border-radius: 15px;
}
.experience-bottom-two {
  position: absolute;
  width: 15rem;
  height: 0.5rem;
  bottom: 0.5rem;
  right: 38%;
  transform: translateX(50%);
  background: var(--mainGradient-color);
  border-radius: 15px;
}
.break {
  display: none;
}
.experience-container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  max-width: 110rem;
  height: 60rem;
  padding-top: 4rem;
}

.experience-box {
  border-right: 1px solid var(--primary-text);
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 50rem;
  cursor: pointer;

  & h2 {
    margin: 0 4rem 0 0;
    padding-left: 4rem;
    font-size: 4.4rem;
    line-height: 1.2;
  }

  & p {
    font-size: 1.8rem;
    margin-top: 0.5rem;
    letter-spacing: 0.2rem;
    color: var(--primary-paragraph);
  }
}

.internship-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  border-bottom: 1px solid var(--primary-text);
}

.about-internship,
.education-details {
  width: 75rem;
  padding-left: 6rem;
  letter-spacing: 0.1rem;

  & h2 {
    font-size: 3.6rem;
  }

  & h3 {
    font-size: 1.8rem;
  }

  & p {
    margin-top: 0.5rem;
    font-size: 1.6rem;
    color: var(--primary-paragraph);
  }
  & ul {
    list-style: square;
    width: 65rem;
    padding-left: 2.2rem;
    color: var(--primary-paragraph);
  }

  & ul li {
    margin-top: 0.8rem;
    font-size: 1.6rem;
    line-height: 1.6;
  }
  & h4 {
    font-size: 1.8rem;
    font-weight: 600;
  }
}

.internship-details {
  margin-top: 1.8rem;
  /* height: 35rem; */
  height: 31rem;
  overflow: scroll;
  overflow-x: hidden;
}

#education {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.education-details {
  height: 48rem;
  overflow: scroll;
  overflow-x: hidden;

  & h2 {
    font-size: 2.4rem;
    color: var(--main-color);
  }
  & span {
    font-size: 1.6rem;
  }
  & address {
    font-size: 1.6rem;
    margin: 0.5rem 0 1.5rem;
  }
}
.education-sections {
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--primary-paragraph);
}
.material-symbols-outlined {
  color: var(--main-color);
}
#certificate {
  margin-top: 1.5rem;
  display: flex;
  gap: 8rem;
  list-style: circle;
  font-weight: 600;

  & a {
    border-bottom: 1px solid var(--main-color);
    text-decoration: none;
    color: var(--main-color);

    &:hover {
      border-bottom: 1px solid gold;
      color: gold;
    }
  }
}
/** ------------------------- EXPERIENCE-END ------------------------- */

/** ------------------------- PROJECT-START ------------------------- */
#project {
  padding: 4rem 0;
  background-color: var(--secondary-background);
}

#project h1 {
  margin-bottom: 5rem;
}
.project-bottom {
  position: absolute;
  width: 12rem;
  height: 0.5rem;
  bottom: -0.5rem;
  left: 50%;
  background: var(--mainGradient-color);
  transform: translateX(-50%);
  border-radius: 15px;
}
.project-container {
  margin: 0 auto;
  max-width: 130rem;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 10rem;
}
.box {
  display: flex;
  justify-content: space-between;
}
.detail-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-basis: 50%;

  & h2 {
    font-size: 3.6rem;
  }

  & p {
    height: 16rem;
    margin-top: 0.5rem;
    font-size: 1.8rem;
    color: var(--primary-paragraph);
    overflow: scroll;
    overflow-x: hidden;
  }
  & .svg-container {
    cursor: pointer;
    display: flex;
    gap: 3rem;
  }
  & .language-icons {
    margin-top: 3rem;
    font-size: 4.5rem;
    color: rgb(174, 214, 220);
  }

  & .buttons {
    display: flex;
    gap: 6rem;
  }
}

.img-section {
  display: flex;
  align-items: center;
  flex-basis: 40%;
}
.img-section img {
  cursor: pointer;
  width: 50rem;
  height: 32rem;
  border-radius: 15px;
  border: none;
}
.project-button {
  text-align: center;
}
.additional-box {
  display: none;
}
.btn-2 {
  margin-top: 2rem;
}
.btn-3 {
  margin-top: 2rem;
}
.btn-4 {
  margin-top: 8rem;
}

/** ------------------------- PROJECT-END ------------------------- */

/** ------------------------- CONTACT-START ------------------------- */
#contact {
  padding-top: 4rem;
  background-color: var(--secondary-background);
}
#contact h1 {
  font-size: 4.4rem;
  text-align: left;
}
.contact-bottom {
  position: absolute;
  width: 15rem;
  height: 0.5rem;
  bottom: 0;
  left: 34%;
  transform: translateX(-50%);
  background: var(--mainGradient-color);
  border-radius: 15px;
}
.contact-row {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  max-width: 130rem;
  padding-top: 4rem;
}
.contact-left {
  flex-basis: 35%;
}
.contact-right {
  flex-basis: 60%;
}
.contact-left p {
  margin-top: 3rem;
  font-size: 1.8rem;
  color: var(--primary-paragraph);

  & i {
    color: var(--main-color);
    margin-right: 1.5rem;
    font-size: 2rem;
  }
}
.icon-container {
  & a {
    text-decoration: none;
  }
}

.icon-container {
  display: inline-flex;
}
.icon-container .icon {
  margin: 30px 8px 0 0;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.icon-container .icon span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);

  & .fa-twitter {
    color: #46c1f6;
  }
  & .fa-whatsapp {
    color: #25d366;
  }
  & .fa-instagram {
    color: #e1306c;
  }
  & .fa-github {
    color: #999;
  }
  & .fa-linkedin-in {
    color: #0077b5;
  }
}
.icon-container {
  .twitter {
    border-radius: 50%;
    border: 1px solid #46c1f6;
  }
  .whatsapp {
    border-radius: 50%;
    border: 1px solid #25d366;
  }
  .instagram {
    border-radius: 50%;
    border: 1px solid #e1306c;
  }
  .github {
    border-radius: 50%;
    border: 1px solid #333;
  }
  .linkedin {
    border-radius: 50%;
    border: 1px solid #0077b5;
  }
}
.icon-container .icon span i {
  line-height: 60px;
  font-size: 20px;
}
.icon-container .icon .tooltip {
  position: absolute;
  top: 0;
  z-index: 1;
  background: #fff;
  color: #fff;
  padding: 10px 18px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 25px;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.icon-container .icon:hover .tooltip {
  top: -60px;
  opacity: 1;
  pointer-events: auto;
}
.icon .tooltip:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #fff;
  left: 50%;
  bottom: -6px;
  transform: translateX(-50%) rotate(45deg);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.icon-container .icon:hover span i {
  color: #fff;
}
.icon-container .icon:hover span,
.icon-container .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
}
.icon-container .twitter:hover span,
.icon-container .twitter:hover .tooltip,
.icon-container .twitter:hover .tooltip:before {
  background: #46c1f6;
}
.icon-container .whatsapp:hover span,
.icon-container .whatsapp:hover .tooltip,
.icon-container .whatsapp:hover .tooltip:before {
  background: #25d366;
}
.icon-container .instagram:hover span,
.icon-container .instagram:hover .tooltip,
.icon-container .instagram:hover .tooltip:before {
  background: #e1306c;
}
.icon-container .github:hover span,
.icon-container .github:hover .tooltip,
.icon-container .github:hover .tooltip:before {
  background: #333;
}
.icon-container .linkedin:hover span,
.icon-container .linkedin:hover .tooltip,
.icon-container .linkedin:hover .tooltip:before {
  background: #0077b5;
}

form input,
form textarea {
  width: 100%;
  outline: none;
  border: 1px solid rgba(225, 225, 225, 0.25);
  background: var(--secondary-background);
  padding: 1.5rem;
  margin: 1.5rem 0;
  color: var(--primary-text);
  font-size: 1.8rem;
  border-radius: 0.6rem;
  transition: 0.5s;
}
.inputBox {
  position: relative;
}
.inputBox span {
  position: absolute;
  top: 3rem;
  left: 2rem;
  pointer-events: none;
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.25);
  text-transform: uppercase;
  transition: 0.5s;
}
.inputBox input:valid ~ span,
.inputBox input:focus ~ span,
.inputBox textarea:valid ~ span,
.inputBox textarea:focus ~ span {
  color: var(--main-color);
  transform: translateX(10px) translateY(-23px);
  font-size: 1.2rem;
  padding: 0 10px;
  background: var(--secondary-background);
  border-left: 1px solid var(--main-color);
  border-right: 1px solid var(--main-color);
}
.inputBox input:valid,
.inputBox input:focus,
.inputBox textarea:valid,
.inputBox textarea:focus {
  border: 1px solid var(--main-color);
}
.tick {
  color: rgb(3, 173, 3);
}

.btn-5 {
  margin-top: 3rem;
}

.copyright {
  text-align: center;
  background: var(--mainGradient-color);
  padding: 1rem 0;
  /* padding: 2rem 0; */
  font-weight: 300;
  margin-top: 5rem;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
}
#message {
  color: var(--main-color);
  font-size: 2rem;
  display: inline-block;
  margin: 0.5rem;
}

.button-wrapper {
  position: relative;
}

.button-wrapper canvas {
  position: absolute;
  top: 55%;
  left: 14%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.button-wrapper-two {
  position: relative;
}
.button-wrapper-two canvas {
  position: absolute;
  top: 55%;
  left: 22%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: var(--primary-paragraph);
}

/** ------------------------- CONTACT-END ------------------------- */
