@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-color: var(--primary-background);
  color: var(--primary-text);
  overflow-x: hidden;
}
:root {
  /** BACKGROUND */
  --primary-background: #111111;
  --secondary-background: #1a1a1a;

  /** TEXT */
  --primary-text: #f0f0f0;

  /** PARAGRAPH */
  --primary-paragraph: #dfdede;

  /** MAIN COLOR*/
  --main-color: #009bd9;

  /** GRADIENT */
  --mainGradient-color: linear-gradient(180deg, #2c69d1, #0abcf9);
  --thirdGradient-color: linear-gradient(30deg, #2c69d1, #0abcf9);
  --secondaryGradient-color: linear-gradient(
    90deg,
    rgb(0, 155, 217, 0) 0%,
    rgb(0, 155, 217, 0.38) 89.06%,
    rgb(0, 155, 217, 0.51) 100%
  );
  --queryGradient-color: linear-gradient(
    180deg,
    rgb(0, 155, 217, 0) 0%,
    rgb(0, 155, 217, 0.38) 89.06%,
    rgb(0, 155, 217, 0.51) 100%
  );

  /* --secondary-background: #171717; */
}

.bg {
  position: absolute;
  height: 82rem;
  width: 100%;
  overflow: hidden;
}
.bubbles {
  position: relative;
  display: flex;
  filter: blur(0.3rem);
}
.bubbles span {
  position: relative;
  min-width: 3rem;
  height: 3rem;
  background: #4fc3dc;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #4fc3dc, 0 0 10px #4fc3dc;
  margin: 0 4px;
  animation: falling 15s linear infinite;
  animation-duration: calc(75s / var(--i));
}
.bubbles span:nth-child(even) {
  background: #ff2d75;
  box-shadow: 0 0 0 10px #ff2d75, 0 0 50px #ff2d75, 0 10px #ff2d75;
}
@keyframes falling {
  0% {
    transform: translateY(-10vh) scale(0);
  }
  100% {
    transform: translateY(100vh) scale(1);
  }
}
/* @keyframes falling {
  0% {
    transform: translateY(100vh) scale(0);
  }
  100% {
    transform: translateY(-10vh) scale(1);
  }
} */
/** ------------------------- NAVIGATION-START ------------------------- */

#header {
  height: 82rem;
}
.logo-name {
  background: var(--mainGradient-color);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header-container {
  padding: 1rem 15rem;
}
.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-nav h1 {
  font-size: 4.4rem;
}
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  list-style: none;
  margin: 1rem 2rem;
  font-size: 2rem;
  font-weight: 500;
  text-decoration: none;
  color: var(--primary-text);
  position: relative;
  transition: 0.5s ease;

  &:hover {
    color: var(--main-color);
  }
}

.main-nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background: var(--mainGradient-color);
  bottom: -0.2rem;
  left: 50%;
  border-radius: 50px;
}

.main-nav-link:hover::after {
  animation: line 4s infinite;
}
@keyframes line {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
  }
}

.header-text {
  margin-top: 20rem;
  font-size: 3rem;
}
.header-text h2 {
  margin-top: 2rem;
  font-size: 6.2rem;
}
.header-text .my-name {
  background: var(--mainGradient-color);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blink {
  color: var(--main-color);
  animation: blink 1s infinite;
}
/** ------------------------- NAVIGATION-END ------------------------- */
/* REUSEABEL */
.h-one {
  position: relative;
  font-size: 6.2rem;
  text-align: center;
  letter-spacing: 0.4rem;
  background: var(--mainGradient-color);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
/** ------------------------- ABOUT-START ------------------------- */

#about {
  padding: 8rem;
  background-color: var(--secondary-background);
}

.heading-bottom {
  position: absolute;
  width: 12rem;
  height: 0.5rem;
  bottom: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  background: var(--mainGradient-color);
  border-radius: 15px;
}
.about-row {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  max-width: 130rem;
  padding-top: 4rem;
}
.about-col-1 {
  border-right: 1px solid var(--main-color);
  padding: 0 4rem;
}
.about-col-1 h4 {
  margin-top: 2rem;
  font-size: 2.4rem;
  font-weight: 500;
}
.about-col-1 p {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  color: var(--primary-paragraph);
}
.about-col-2 {
  display: grid;
  grid-template-columns: 1fr;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 4rem;
}
.about-col-2-content {
  display: flex;
  gap: 2rem;
  align-items: center;
  & h4 {
    font-size: 1.8rem;
    background: var(--mainGradient-color);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  & p {
    font-size: 1.8rem;
    color: var(--primary-paragraph);
  }
}

.btn {
  text-align: center;
  color: var(--main-color);
  background: none;
  padding: 2rem 4rem;
  border: 2px solid var(--main-color);
  border-radius: 20px;
  font-weight: 700;
  font-size: 2rem;
  cursor: pointer;
  letter-spacing: 0.1rem;
  transition: transform 0.1s linear;

  &:active {
    transform: scale(0.85);
  }

  &:hover {
    color: var(--primary-text);
    background: var(--mainGradient-color);
  }
}
.btn-1 {
  margin-top: 4rem;
  animation: shake 1s infinite;
}
.shake-slow {
  animation-delay: 4s;
}

@keyframes shake {
  0%,
  50%,
  100% {
    transform: rotate(0deg);
  }
  25%,
  75% {
    transform: rotate(-5deg);
  }
}

/** ------------------------- ABOUT-END ------------------------- */

/** ------------------------- SKILL-START ------------------------- */

#skills {
  padding: 4rem 0 10rem 0;
}

.skills-bottom {
  position: absolute;
  width: 9rem;
  height: 0.5rem;
  bottom: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  background: var(--mainGradient-color);
  border-radius: 15px;
}
.slash {
  background: var(--mainGradient-color);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.skill-container {
  margin: 0 auto;
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  max-width: 100rem;
  height: 60rem;
  padding-top: 4rem;
}

.timeline {
  width: 20rem;
}

.timeline-item {
  font-size: 1.6rem;
  font-weight: 500;
  position: relative;
  padding: 0 0 30px 0;
  margin-bottom: 20px;
  cursor: pointer;
}

.timeline-item::before {
  content: "";
  position: absolute;
  left: -6px;
  top: 0;
  width: 12px;
  height: 12px;
  background-color: var(--primary-text);
  border-radius: 50%;
}

.timeline-item::after {
  content: "";
  position: absolute;
  left: -1px;
  top: 22px; /* Adjust this value to align the line with the center of the dot */
  bottom: 0;
  width: 2px;
  background-color: var(--primary-text);
  padding: 20px 0;
}

.timeline-item:last-child::after {
  display: none; /* Hide line after last item */
}

.timeline-item.active::before {
  background-color: var(--main-color);
}

.timeline-item.active {
  color: var(--main-color);
}

.timeline-item.left {
  position: relative;
}

.timeline-item.left::before {
  top: 0.5rem;
  left: 8rem;
  /* Adjust this value to position the dot */
}

.timeline-item.left::after {
  top: 2.8rem;
  left: 8.5rem;
  background: var(--mainGradient-color);
  /* Adjust this value to position the line */
}

.timeline-item.opposite-side {
  /* text-align: right; */
  margin-left: 11rem;
}

.timeline-item.opposite-side::before {
  top: 0.5rem;
  left: -3rem;
  /* Adjust this value to position the dot */
}

.timeline-item.opposite-side::after {
  top: 2.8rem;
  left: -2.5rem;
  background: var(--mainGradient-color);
  /* Adjust this value to position the line */
}
.content {
  width: 75rem;
  padding: 5rem 6rem;
  border-radius: 15px;
  box-shadow: 3px 3px 29px 0px var(--main-color);

  & h2 {
    font-size: 3.6rem;
  }

  & p {
    font-size: 1.8rem;
    letter-spacing: 0.2rem;
    margin-top: 1rem;
    color: var(--primary-paragraph);
    line-height: 2.6rem;
  }
}
.svg-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.svg {
  margin-top: 5rem;
  height: 10rem;
  filter: grayscale(1);
  opacity: 0.3;
  fill: #c2baba;
}
/** ------------------------- SKILL-END ------------------------- */

/** ------------------------- EXPERIENCE-START ------------------------- */
#experience {
  padding: 8rem 0;
  background-color: var(--secondary-background);
}
#experience .active {
  background: var(--secondaryGradient-color);
}

.experience-bottom-one {
  position: absolute;
  width: 15rem;
  height: 0.5rem;
  bottom: 0;
  left: 30%;
  transform: translateX(50%);
  background: var(--mainGradient-color);
  border-radius: 15px;
}
.experience-bottom-two {
  position: absolute;
  width: 15rem;
  height: 0.5rem;
  bottom: 0.5rem;
  right: 37%;
  transform: translateX(50%);
  background: var(--mainGradient-color);
  border-radius: 15px;
}

.experience-container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  max-width: 110rem;
  height: 60rem;
  padding-top: 4rem;
}

.experience-box {
  border-right: 1px solid var(--primary-text);
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 50rem;

  & img {
    width: 12rem;
    height: auto;
    border-radius: 15px;
  }

  & h2 {
    margin: 0 4rem 0 0;
    padding-left: 4rem;
    font-size: 5.2rem;
    line-height: 6rem;
    cursor: pointer;
  }

  & p {
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
    color: var(--primary-paragraph);
  }
}

.internship-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  border-bottom: 1px solid var(--primary-text);
}

.about-internship,
.education-details {
  width: 75rem;
  padding-left: 6rem;
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  height: 48rem;

  & h4 {
    font-size: 3.6rem;
  }
  & h2 {
    font-size: 2.4rem;
  }

  & h3 {
    font-size: 1.6rem;
  }

  & p {
    margin-top: 0.5rem;
    font-size: 1.6rem;
    color: var(--primary-paragraph);
  }
}

.internship-details {
  margin-top: 1.8rem;

  & h4 {
    font-size: 1.6rem;
    font-weight: 600;
  }

  & ul {
    width: 65rem;
    padding-left: 2.2rem;
  }

  & ul li {
    margin-top: 0.4rem;
    font-size: 1.6rem;
    line-height: 2.5rem;
    letter-spacing: 0.1rem;
  }
}
#education {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/** ------------------------- EXPERIENCE-END ------------------------- */

/** ------------------------- PROJECT-START ------------------------- */
#project {
  padding: 4rem 0;
}

#project h1 {
  margin-bottom: 5rem;
}
.project-bottom {
  position: absolute;
  width: 12rem;
  height: 0.5rem;
  bottom: -0.5rem;
  left: 50%;
  background: var(--mainGradient-color);
  transform: translateX(-50%);
  border-radius: 15px;
}
.project-container {
  margin: 0 auto;
  max-width: 130rem;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 10rem;
}
.box {
  display: flex;
  justify-content: space-between;
}
.detail-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-basis: 50%;

  & h2 {
    font-size: 3.6rem;
  }

  & p {
    height: 15rem;
    margin-top: 0.5rem;
    font-size: 1.7rem;
    font-weight: 300;
    letter-spacing: 0.2rem;
    color: var(--primary-paragraph);
    overflow: scroll;
  }

  & .svg-container {
    display: flex;
    gap: 3rem;
  }
  & .project-svg {
    margin-top: 3rem;
    width: 4rem;
    height: 4rem;
    fill: rgb(174, 214, 220);
  }
  & .buttons {
    display: flex;
    gap: 2rem;
  }
}

.img-section {
  display: flex;
  align-items: center;
  flex-basis: 40%;
}
.img-section img {
  width: 50rem;
  height: 32rem;
  border-radius: 15px;
  border: none;
}
.project-button {
  text-align: center;
}
.additional-box {
  display: none;
}
.btn-2 {
  margin-top: 2rem;
}
.btn-3 {
  margin-top: 2rem;
}
.btn-4 {
  margin-top: 8rem;
}

/** ------------------------- PROJECT-END ------------------------- */

/** ------------------------- CONTACT-START ------------------------- */
#contact {
  padding-top: 4rem;
  background-color: var(--secondary-background);
}
#contact h1 {
  font-size: 4.4rem;
  text-align: left;
}
.contact-bottom {
  position: absolute;
  width: 15rem;
  height: 0.5rem;
  bottom: 0;
  left: 30%;
  transform: translateX(-50%);
  background: var(--mainGradient-color);
  border-radius: 15px;
}
.contact-row {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  max-width: 130rem;
  padding-top: 4rem;
}
.contact-left {
  flex-basis: 35%;
}
.contact-right {
  flex-basis: 60%;
}
.contact-left p {
  margin-top: 3rem;
  font-size: 2rem;
  color: var(--primary-paragraph);

  & i {
    color: var(--main-color);
    margin-right: 1.5rem;
    font-size: 2.5rem;
  }
}
.social-icons {
  margin-top: 3rem;

  & a {
    text-decoration: none;
    font-size: 3rem;
    margin-right: 1.5rem;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
  }
}
.social-icons a:hover {
  color: var(--main-color);
  transform: scale(1.1);
}

form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 1.5rem;
  margin: 1.5rem 0;
  color: var(--primary-text);
  font-size: 1.8rem;
  border-radius: 0.6rem;
}
.copyright {
  text-align: center;
  /* background-color: var(--main-color); */
  background: var(--mainGradient-color);
  padding: 2rem 0;
  font-weight: 300;
  margin-top: 8rem;
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
}
#message {
  color: var(--main-color);
  font-size: 2rem;
  display: inline-block;
  margin: 0.5rem;
}
.tick {
  color: rgb(3, 173, 3);
}

.btn-5 {
  margin-top: 5rem;
}

.button-wrapper {
  position: relative;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* width: 20rem;
  height: 6rem; */
}

.button-wrapper canvas {
  position: absolute;
  top: 55%;
  left: 22%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
::-webkit-scrollbar {
  scrollbar-width: none;
}

/** ------------------------- CONTACT-END ------------------------- */
